<main>
  <article>
    <div class="left">
      <img src="../../../assets/img/bg3.jpg" alt="" />
    </div>
    <div class="right">
      <form>
        <h1>Sign <span class="presentation">up</span></h1>
        <div class="line">
          <input
            type="text"
            #nom
            name="nom"
            placeholder="Name"
            class="input"
            required
          />
          <input
            type="text"
            #prenom
            name="prenom"
            placeholder="Lasname"
            class="input"
            required
          />
        </div>
        <input type="email" #email placeholder="Email" class="input" required />
        <input
          type="password"
          #password
          placeholder="password"
          class="input"
          required
        />
        <button type="submit" class="button">Valider</button>
      </form>
    </div>
  </article>
</main>
