<div class="content d-flex align-items-center justify-content-center">
  <div
    class="login col-6 col-lg-3 d-flex flex-row justify-content-center p-4 py-5"
  >
    <form class="d-flex flex-column gap-2 align-items-center col-12">
      <h5 class="position-relative title text-center">
        SoLO <span class="dot">&#x2022;</span> LEVELING
      </h5>
      <div class="col-12">
        <input type="text" name="" id="" class="input" placeholder="Username" />
      </div>
      <div class="col-12">
        <input
          type="password"
          name=""
          id=""
          class="input"
          placeholder="Password"
        />
      </div>
      <button class="btn-submit" type="submit">Submit</button>
      <button class="btn-submit" type="button">Create an account</button>
    </form>
  </div>
</div>
