.content {
  width: 100dvw;
  height: 100dvh;
  overflow-y: scroll;
  position: relative;
}

.content video {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.info {
  color: var(--primary);
}

.showText button {
  background: transparent;
  border: 2px solid white;
  border-radius: 40px;
  color: white;
}

.showText {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.matchmacking {
  background: transparent;
  font-size: 5vh;
  color: var(--primary);
  position: absolute;
  bottom: 2%;
  right: -20%;
  border: 2px solid #fff;
  border-radius: 20px 0px 0px 20px;
  backdrop-filter: blur(10px);
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  border-right: none;
}
.matchmacking button {
  background: transparent;
  border: none;
  height: 1%;
  position: absolute;
}
.matchmacking:hover {
  right: 0;
}

.game {
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: var(--secondary);
}

.karatra {
  backdrop-filter: blur(10px);
  border-radius: 5px;
  height: 5em;
  width: 5em;
  box-shadow: 0px 0px 0px 10px transparent;
  z-index: 100;
  overflow: hidden;
  border: 1px solid var(--primary);
}

.karatra.active {
  transform: translateY(-10%);
}

.deck-choice,
.deck-choice-adve {
  overflow-x: auto;
  overflow-x: visible;
  position: absolute;
  bottom: 2%;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}

.deck-choice-adve {
  top: 10%;
  bottom: auto;
}

.turn {
  border: 1px solid var(--primary);
  border-radius: 20px;
  color: var(--primary);
  font-size: 1em;
}

.zone {
  border: 5px solid var(--third);
  height: 5em;
  width: 5em;
  border-radius: 5px;
}

.pv,
.pvAdve {
  background-color: rgba(0, 255, 0, 0.382);
  border-radius: 20px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -150%);
  overflow: hidden;
}

.pvAdve {
  bottom: 0;
  top: auto;
  background-color: rgba(254, 25, 25, 0.381);
  transform: translate(-50%, 150%);
}

.pv .bar {
  height: 100%;
  background-color: rgb(0, 255, 0);
}
.pvAdve .bar {
  background-color: rgb(254, 25, 25);
}
