<main>
  <video src="../../../assets/video/sunrise - Trim.mp4" autoplay loop></video>
  <div class="principal">
    <div class="title">
      <h1>FIRE</h1>
      <p>Niv.2</p>
    </div>
    <div class="pic">
      <img src="../../../assets/img/shoto.png" alt="" />
    </div>
    <div class="elements">
      This Quirk grants him the ability to generate intense flames from the left
      side of his body and produce icy blasts from the right side.
    </div>
  </div>
  <div class="suggestion">
    <div class="text">
      <h3>Proposition</h3>
      <p>Here the person looking for your power</p>
    </div>
    <div class="content"></div>
  </div>
</main>
