<main>
  <video src="../../../assets/video/sunrise - Trim.mp4" autoplay loop></video>
  <div class="principal">
    <div class="give">
      <img src="../../../assets/img/cover/2.jpg" class="pics" />
      <div class="text">
        <h1>I wanna give this</h1>
        <p>Those are the propositions</p>
      </div>
    </div>
    <div class="need">
      <div class="text">
        <h1>I need this</h1>
        <p>Those are the reasons why I need this</p>
      </div>
      <img src="../../../assets/img/cover/3.jpg" class="pics" />
    </div>
  </div>
</main>
