main {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: #fff;
  /* overflow: hidden; */
}
main video {
  width: 100vw;
  position: absolute;
  z-index: -1;
}
.principal {
  /* background-color: red; */
  backdrop-filter: blur(10px);
  /* background-color: #7f191917; */
  border-radius: 20px;
  padding: 10px 15px;
  color: white;
  display: flex;
  width: 70%;
  border: 1px solid #fff;
  justify-content: space-around;
  gap: 100px;
}
.pics {
  width: 50%;
  border: 5px solid #fff;
}
.give {
  display: flex;
  gap: 10px;
  /* background-color: rgb(255, 0, 230); */
  border-right: 2px solid #fff;
}
.need {
  display: flex;
  gap: 10px;
  /* background-color: aqua; */
  justify-content: right;
  border-left: 2px solid #fff;
}
.need .text {
  text-align: right;
}
.text {
  width: 40%;
  /* background-color: aqua; */
}
.separator {
  display: flex;
  justify-content: center;
  align-items: center;
}
