<div
  class="pert-container"
  style="overflow: hidden"
  (mousedown)="onMouseDown($event)"
  (mousemove)="onMouseMove($event)"
  (mouseup)="onMouseUp($event)"
>
  <svg class="pert-svg" style="overflow: hidden">
    <g *ngFor="let task of tasks">
      <circle
        [attr.cx]="task.x"
        [attr.cy]="task.y"
        r="40"
        class="pert-circle"
      ></circle>
      <text
        [attr.x]="task.x"
        [attr.y]="task.y"
        text-anchor="middle"
        alignment-baseline="middle"
        class="pert-text"
      >
        {{ task.text }}
      </text>
    </g>
  </svg>
</div>
