<div class="content">
  <video #videoPlayer class="position-absolute" autoplay loop>
    <source src="../../../assets/video/ciel.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  <div
    class="pert-container"
    style="overflow: hidden"
    *ngIf="showText"
    @fadeInAnimation
    cdkDrag
  >
    <div
      class="pert-svg"
      style="overflow: hidden"
      *ngFor="let line of dependencies"
    >
      <div class="line" [style]="getLineStyle(line)"></div>
    </div>
    <div
      *ngFor="let task of tasks"
      class="skill position-absolute p-1"
      (mouseenter)="enter()"
      (mouseleave)="exit()"
      (click)="task.blocked ? getProposition(task) : ''"
      [style]="{
        left: task.x + 'px',
        top: task.y + 'px',
        border: '2px solid ' + (task.blocked ? 'gray' : task.color)
      }"
    >
      <div class="description p-2 d-flex flex-column">
        <b style="text-wrap: nowrap">{{ task.text }}</b>
        <span style="width: 10dvw">{{ task.description }}</span>
      </div>
      <div class="icon d-flex align-items-center">
        <img
          src="../../../assets/img/{{ task.file }}.gif"
          alt=""
          width="100%"
          class="mb-1"
          [style]="
            task.blocked ? 'filter: grayscale(100%)' : 'filter: grayscale(0%)'
          "
        />
      </div>
    </div>
  </div>
  <div
    class="modal d-flex flex-column position-fixed"
    *ngIf="showModal"
    @fadeInAnimation
  >
    <header class="d-flex flex-row justify-content-between p-2 px-4">
      <h1>Proposition</h1>
      <button (click)="showModal = false" class="px-2">X</button>
    </header>
    <section class="d-flex flex-row align-items-start">
      <div class="col-6">
        <img
          [src]="'../../../assets/img/' + this.selected.file + '.gif'"
          alt=""
          height="100%"
          width="100%"
        />
      </div>
      <div class="d-flex flex-column col-6 justify-content-start p-2">
        <h2 class="d-flex p-2">{{ this.selected.text }}</h2>
        <span class="d-flex p-2">{{ this.selected.description }}</span>
        <div class="d-flex p-2">
          <button
            class="btn"
            [routerLink]="'/home/troc/'+this.selected.id"
            *ngIf="!this.selected.unblockable"
            style="background-color: var(--secondary); color: var(--primary)"
          >
            Barter
          </button>
          <button
            class="btn"
            *ngIf="this.selected.unblockable"
            style="background-color: var(--secondary); color: var(--primary)"
            (click)="unlockSkill(this.selected.id)"
          >
            Unlock
          </button>
        </div>
      </div>
    </section>
  </div>
</div>
