<div
  class="pert-container"
  style="overflow: hidden"
  *ngIf="showText"
  @fadeInAnimation
  cdkDrag
>
  <div
    class="pert-svg"
    style="overflow: hidden"
    *ngFor="let line of dependencies"
  >
    <div class="line" [style]="getLineStyle(line)"></div>
  </div>
  <div
    *ngFor="let task of tasks"
    class="skill position-absolute p-1"
    (mouseenter)="enter()"
    (mouseleave)="exit()"
    [style]="{
      left: task.x + 'px',
      top: task.y + 'px',
      borderBottom: '2px solid ' + task.color
    }"
  >
    <div class="description p-2 d-flex flex-column">
      <b style="text-wrap: nowrap">{{ task.text }}</b>
      <span style="width: 10dvw">{{ task.description }}</span>
    </div>
    <div class="icon d-flex align-items-center">
      <img
        src="../../../assets/img/{{ task.file }}.gif"
        alt=""
        width="100%"
        class="mb-1"
      />
    </div>
  </div>
</div>
<video
  #videoPlayer
  width="100%"
  height="100%"
  class="position-fixed"
  style="top: 0; z-index: -1"
  autoplay
>
  <source src="../../../assets/video/earth.mp4" type="video/mp4" />
  Your browser does not support the video tag.
</video>
