<div class="all" @fadeInAnimation>
  <video #videoPlayer width="100%" class="position-fixed" autoplay>
    <source src="../../../assets/video/earth.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  <div class="content d-flex justify-content-center align-items-center px-5">
    <div class="presentation title" *ngIf="showText">Feature</div>
  </div>
  <div class="intro">
    <div class="one">
      <div class="name">Xp</div>
      <div class="description">
        In this world, experience points known as Xp serve as the currency of
        power. They're earned and lost in the crucible of combat, shaping the
        destiny of every player. With XP, we unlock the gateway to superpowers,
        bending reality to our will. But there's a catch. Even if we manage to
        barter for the superpowers possessed by others, we're powerless to wield
        them if our XP coffers run dry. In this game of life and death, XP isn't
        just a measure of strength, but the very currency of existence. And
        without it, we're left scrambling in the shadows, yearning for abilities
        beyond our reach.
      </div>
    </div>
    <div class="one">
      <div class="name">Fight</div>
      <div class="description">
        In the relentless quest for XP, we're thrown into the arena of combat
        against fellow players. The stakes are high: victory rewards us with 2
        precious XP, while defeat costs us dearly, stripping away 1 XP from our
        hard-earned total. Navigating this battleground is facilitated by the
        all.for.one website, our gateway to clashes with others seeking to
        bolster their XP reserves. Rest assured, the system ensures fair play by
        matching us only with rivals from our own league, sparing us the
        injustice of facing foes from higher echelons like the Titans league.
        But in this digital arena, there's no room for picking and choosing
        opponents. The website plays arbiter, pairing us off automatically with
        a challenger of equal standing, ensuring every battle is a test of skill
        and strategy. Moreover, during these intense battles, we are restricted
        to utilizing our superpowers, each move calculated for maximum impact.
        It's a thrilling dance of power and strategy, where victory means not
        just glory, but the accumulation of the XP needed to ascend to greater
        heights within the game.
      </div>
    </div>
    <div class="one">
      <div class="name">SuperPower</div>
      <div class="description">
        In the genesis of our journey, every player is endowed with the
        fundamental superpowers rooted in the elements: water, air, earth, and
        fire. These elemental gifts form the cornerstone of our abilities,
        laying the groundwork for the epic battles that lie ahead. However, as
        we traverse the realm of combat, we quickly realize that to truly
        flourish, we must expand our arsenal beyond these basic elements.
        Through the crucible of battle or shrewd negotiation, we acquire
        additional superpowers, each offering unique advantages and tactical
        versatility. Yet, with every new power comes a cost – the monopolization
        of our hard-earned XP. It's a delicate balance, as each choice to wield
        a new power diminishes our XP reserves, leaving us vulnerable in the
        pursuit of further enhancements. Thus, every decision carries weight,
        forcing us to weigh the allure of newfound abilities against the risk of
        depleting our XP reserves. In this dynamic landscape, strategic
        foresight and resource management become paramount, guiding our path
        towards mastery in the relentless pursuit of power.
      </div>
    </div>
  </div>
</div>
