<div class="col-12 position-relative">
  <div class="content d-flex flex-lg-row flex-column gap-2" @fadeInAnimation>
    <div class="image-div col-lg-3 col-12" *ngIf="showText" @fadeInAnimation>
      <div class="image image1">
        <div class="job">Front-end developer</div>
        <img
          src="../../../assets/img/cupcake1.png"
          alt=""
          width="70px"
          class="img1"
        />
        <img
          src="../../../assets/img/cupcake1.png"
          alt=""
          width="70px"
          class="img2"
        />
        <div class="name presentation">NY ARO</div>
      </div>
    </div>
    <div class="image-div col-lg-3 col-12" *ngIf="showText" @fadeInAnimation>
      <div class="image image2">
        <div class="job">Full-stack developer</div>
        <img
          src="../../../assets/img/cupcake1.png"
          alt=""
          width="70px"
          class="img1"
        />
        <img
          src="../../../assets/img/cupcake1.png"
          alt=""
          width="70px"
          class="img2"
        />
        <div class="name presentation">FANANTENANA</div>
      </div>
    </div>
    <div class="image-div col-lg-3 col-12" *ngIf="showText" @fadeInAnimation>
      <div class="image image3">
        <div class="job">Designer / Front-end developer</div>
        <img
          src="../../../assets/img/cupcake2.png"
          alt=""
          width="70px"
          class="img1"
        />
        <img
          src="../../../assets/img/cupcake2.png"
          alt=""
          width="70px"
          class="img2"
        />
        <div class="name presentation">MIALY</div>
      </div>
    </div>
    <div class="image-div col-lg-3 col-12" *ngIf="showText" @fadeInAnimation>
      <div class="image image4">
        <div class="job">Back-end developer</div>
        <img
          src="../../../assets/img/cupcake1.png"
          alt=""
          width="70px"
          class="img1"
        />
        <img
          src="../../../assets/img/cupcake1.png"
          alt=""
          width="70px"
          class="img2"
        />
        <div class="name presentation">HASINA</div>
      </div>
    </div>
  </div>
</div>
