.circle {
  border-radius: 50%;
  background-color: white;
  position: absolute;
  z-index: 10;
  pointer-events: none;
  mix-blend-mode: difference;
  transition: 0.1s !important;
}

*,
button {
  cursor: none;
}

.circle .dot {
  width: 3px;
  height: 3px;
  background-color: var(--primary);
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
  background-color: var(--secondary);
}

.landing,
.landing * {
  position: relative;
}

button {
  background-color: rgba(131, 131, 131, 0.326);
  border: 1px solid transparent;
  border-radius: 40px;
  font-size: 1.71vh;
  position: relative;
  color: var(--primary);
  backdrop-filter: blur(10px);
}

button:hover {
  background-color: transparent;
  border: 1px solid var(--primary-darker);
}

.load {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: 100dvw solid var(--primary);
  z-index: 2;
  overflow: hidden;
}

header {
  z-index: 10;
  background-color: transparent;
}

.elite {
  top: 50%;
  transform: translateY(-50%);
  left: 2%;
  z-index: 1;
}

.elite button {
  font-size: 2.3dvh !important;
  backdrop-filter: blur(10px);
}

header h5 {
  color: var(--primary);
}

header h5 .dot {
  position: relative;
  color: var(--third);
}

@keyframes showMenu {
  from {
    transform: translate(-100%, -50%);
    opacity: 0;
  }
  to {
    transform: translate(0% -50%);
    opacity: 1;
  }
}

.hide-menu {
  top: 50%;
  left: 10%;
  transform: translate(0%, -50%);
  left: 0;
  animation: showMenu 0.6s;
  z-index: 9;
}

.hide-menu nav {
  font-size: 4.48vh;
  color: var(--secondary-darker);
  font-family: "Zilla Slab", serif;
  position: relative;
}

.hide-menu nav.active {
  color: var(--secondary);
}

.hide-menu nav.active .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--secondary);
}

.hide-menu nav .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--secondary);
  transition: width 0.3s ease-in-out, right 0.3s ease-in-out;
}

.hide-menu nav:hover .bottom {
  width: 100%;
  right: 0;
}

.hide-menu nav:hover {
  color: var(--secondary);
}

.onde {
  position: absolute;
  border-radius: 50%;
  backdrop-filter: blur(5px);
  transform: translate(-50%, -50%);
}

.load .text {
  right: 0%;
  bottom: 2%;
  transform: translateX(100%);
}

.load .text h1 {
  color: var(--primary);
  font-size: 19vh;
}

.page {
}
