<div
  class="load"
  [@loadAnimation]="load ? 'end' : 'start'"
  (click)="navigateMenu()"
  (mouseenter)="onPress(); enterOnde($event)"
  (mouseleave)="onExit(); enterOnde($event)"
>
  <div
    class="onde"
    [style]="{ left: ondePosition.x, top: ondePosition.y }"
    *ngIf="showOnde"
    @ondeTransition
    #onde
  ></div>
  <div
    class="text position-absolute"
    [@menuTransition]="load ? 'end' : 'start'"
  >
    <h1 class="fw-bold">MENU</h1>
  </div>
</div>
<header
  class="d-flex flex-row col-12 position-fixed justify-content-between align-items-center p-3 px-4 z-3"
>
  <div class="col-1">
    <button
      class="px-2 p-1"
      [style]="
        load
          ? 'color: var(--primary);'
          : 'color: black; background: rgba(0, 0, 0, 0.177)'
      "
      (mouseenter)="onPress()"
      (mouseleave)="onExit()"
      (click)="navigateMenu()"
    >
      {{ load ? "MENU" : "CLOSE X" }}
    </button>
  </div>
  <h5
    [style]="load ? 'color: var(--primary)' : 'color: black'"
    class="position-relative journey"
    (mouseenter)="onPress()"
    (mouseleave)="onExit()"
  >
    SoLO <span class="dot">&#x2022;</span> LEVELING
  </h5>
  <button
    class="px-2 p-1"
    [style]="
      load
        ? 'color: var(--primary)'
        : 'color: black; background: rgba(0, 0, 0, 0.177)'
    "
    (mouseenter)="onPress()"
    (mouseleave)="onExit()"
    routerLink="/login"
  >
    GET STARTED
  </button>
</header>
<div class="landing">
  <div class="welcome">
    <div class="page" [style]="load ? 'scale: 1' : 'scale: 0.8'">
      <router-outlet></router-outlet>
    </div>
    <div class="circle" [style]="boundsCircle" #circle>
      <div class="dot"></div>
    </div>
  </div>
</div>
<div
  class="hide-menu position-absolute d-flex align-items-center justify-content-between"
  *ngIf="!load"
>
  <menu class="d-flex flex-column gap-2 align-items-start">
    <nav
      (mouseenter)="onPress(); hoverShowOn('/home/started')"
      (mouseleave)="onExit(); hoverShowExit('/home/feature', '/home/started')"
      (click)="navigate('/home/started'); makeShowText(); onExit()"
      [class.active]="link === '/home/started'"
    >
      Home
      <span class="bottom"></span>
    </nav>
    <nav
      (mouseenter)="onPress(); hoverShowOn('/home/arbre')"
      (mouseleave)="onExit(); hoverShowExit('/home/started', '/home/arbre')"
      (click)="navigate('/home/arbre'); makeShowText(); onExit()"
      [class.active]="link === '/home/arbre'"
    >
      Skill tree
      <span class="bottom"></span>
    </nav>
    <nav
      (mouseenter)="onPress(); hoverShowOn('/home/teams')"
      (mouseleave)="onExit(); hoverShowExit('/home/started', '/home/teams')"
      (click)="navigate('/home/teams'); makeShowText(); onExit()"
      [class.active]="link === '/home/teams'"
    >
      Our team
      <span class="bottom"></span>
    </nav>
  </menu>
</div>
<div
  class="elite d-flex flex-column gap-20 position-absolute align-items-start"
>
  <button
    class="px-2 p-1"
    (mouseenter)="onPress(); hoverShowOn('/home/started')"
    (mouseleave)="onExit(); hoverShowExit('/home/feature', '/home/started')"
    (click)="navigate('/home/started')"
  >
    Home
  </button>
  <button
    class="px-2 p-1"
    (mouseenter)="onPress(); hoverShowOn('/home/feature')"
    (mouseleave)="onExit(); hoverShowExit('/home/started', '/home/feature')"
    (click)="navigate('/home/feature')"
  >
    Feature
  </button>
</div>
