/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Water+Brush&display=swap");
:root {
  --primary: #f7f7f8;
  --primary-darker: rgba(255, 255, 255, 0.482);
  --secondary: #000000;
  --secondary-darker: #757575;
  --third: #ff2b2b;
}

* {
  font-family: "Red Hat Display", sans-serif;
  transition: 0.3s;
}

.presentation,
.presentation span {
  font-family: "Water Brush", cursive;
  color: var(--primary);
}

body {
  margin: 0;
  overflow-x: hidden;
}
::selection {
  background-color: var(--primary);
  color: var(--secondary) !important;
}

::-webkit-scrollbar {
  display: none;
}
